@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --main-background-color: #F1F2F2;
  --header-height: 56px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  margin: 0;
  padding: 0;
}

body {
  color: black;
  background-color: var(--main-background-color)
}

.header,
.header-left,
.header-center,
.header-right {
  height: var(--header-height);
}

@layer components {
  .icon_wrapper {
      @apply bg-gray-200 w-[40px] h-[40px] rounded-full grid place-items-center hover:bg-gray-300 hover:cursor-pointer duration-200
  }
}

/* Scroll bar */
* {
  /* --color-scrollable: #0085ff; */
  --color-scrollable: #b8b9bb;
  scrollbar-width: thin;
  scrollbar-color: var(--color-scrollable) transparent;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}

::-webkit-scrollbar:vertical {
  width: 10px;
}

::-webkit-scrollbar:horizontal {
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-scrollable);
  border-radius: 10px;
  overflow: hidden;
}